<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta property="og:description"
          content="William Blocker's personal site. Developed to display some of his projects and accomplishments.'" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="William Blocker's Website'" />
    <title>@Page.Title - My ASP.NET Web Page</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="container-fluid">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link disabled" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href=""><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - William Blocker</p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/f04ad78907.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>